@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html {
  scroll-behavior: smooth;
}

#contact {
  scroll-margin-top: 80px; /* Adjust this based on your navbar height */
}